* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

Cargo.lock linguist-generated=false
web/package-lock.json linguist-generated=false
web/dist/index.html linguist-generated=true
